.container {
  min-height: 100vh;
  background: white;
}

.posts {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.post-content {
  padding: 25px;
  background: #e7e7e7;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}
